.header{
    background-color: black;
    color: white;
}
.input{
    /* padding: 7px; */
    /* height: 2rem;
    margin: 5px; */
    background-color: white;
    margin-left: 30px;
    width: 700px;
    height: 30px;
    /* background: transparent; */
}

.coloring{
    /* margin-right: 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: yellow;
}

nav{
    display: flex;
    align-items:stretch;
    justify-content: space-between;
    align-items: center;
}

.navigation{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.items{
    margin: 10px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    /* displa */
    /* text-indent: -999px;
    overflow: hidden; */
    /* float:inline-start; */
    /* opacity: 0.7; */
    /* offset-inline-end: 50px; */
    /* position: absolute;
    top: 15px;
    right: 565px;
    height: 30px;
    color: black;
    background-color: yellow; */
}

